/*
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
*/

:root {
  --text-color-light: #333;
  --text-color-dark: #fff;
  --background-color-light: #f5f5f5;
  --background-color-dark: #333;
  --link-color: #007BFF;
  --link-hover-color: #0056b3;
  --input-bg-color: #fff;
  --input-border-color: #ccc;
  --input-focus-border-color: #007BFF;
  --button-bg-color: #007BFF;
  --button-hover-bg-color: #0056b3;
  --box-shadow-light: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  --box-shadow-dark: rgba(0, 0, 0, 0.6) 0px 4px 6px -1px, rgba(0, 0, 0, 0.4) 0px 2px 4px -1px;
  --border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  transition: background-color 0.3s, color 0.3s;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }
}

body.light-mode {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--link-hover-color);
}

h1, h2 {
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.4em;
}

#app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-shadow: var(--box-shadow-light);
  border-radius: var(--border-radius);
  transition: box-shadow 0.3s;
}

@media (prefers-color-scheme: dark) {
  #app {
    box-shadow: var(--box-shadow-dark);
  }
}

ul, form {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

li, form input, form select, form button {
  margin: 0.5em 0;
  padding: 0.5em;
  background-color: var(--input-bg-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--input-border-color);
  color: var(--text-color-light);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  box-shadow: var(--box-shadow-light);
}

li:hover, form input:focus, form select:focus, form button:focus {
  border-color: var(--input-focus-border-color);
}

button {
  background-color: var(--button-bg-color);
  color: var(--text-color-dark);
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  border: none;
  padding: 0.6em 1.2em;
  transition: background-color 0.25s, color 0.25s;
  border-radius: var(--border-radius);
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

.kanban-column {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  padding: 10px;
  border: 1px solid var(--input-border-color);
  background-color: var(--background-color-light);
  border-radius: var(--border-radius);
  margin: 0 1%;
  box-shadow: var(--box-shadow-light);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.kanban-column li {
  background-color: #e9ecef;
  border-radius: var(--border-radius);
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: var(--box-shadow-light);
}

@media (prefers-color-scheme: dark) {
  .kanban-column {
    background-color: var(--background-color-dark);
    box-shadow: var(--box-shadow-dark);
  }

  .kanban-column li {
    background-color: #555;
    box-shadow: var(--box-shadow-dark);
  }
}

body.dark-mode .kanban-column {
  background-color: var(--background-color-dark);
  box-shadow: var(--box-shadow-dark);
}

body.dark-mode .kanban-column li {
  background-color: #555;
}
